<footer id="footer" class="footer">
    <div class="copyright">
<!-- © <%= config.author %> |  -->
        <span>Powered by <a href="https://hexo.io" target="_blank">Hexo</a></span>
    </div>
</footer>
