// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
.post-content h1::before {
  content: "#";
  margin-right: 5px;
  color: #807fe2;
}